@page "/register"
@using CPUMeasurementFrontend.Data
@using CPUMeasurementCommon.DataObjects

@inject AccountService service


@code {
    
private AccountGet _account;
    private string _username;
    private string _password;
    private string _passwordAgain;
    private string _name;

    private async Task AddAccount() => _account = await service.AddAccount(this._username, this._password, this._passwordAgain, this._name);
    
}

    <form>
        <div class="row">
            <div class="col-md-12">
                <label>Username</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" required maxlength="256" @bind="@_username" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="password" required maxlength="256" min="8" @bind="@_password" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Password again</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input maxlength="256" required type="password" min="8" @bind="@_passwordAgain" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" maxlength="256" @bind="@_name" />
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <button @onclick="@AddAccount">Register</button>
        </div>
        </div>




        
    </form>